.heart {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  transform: rotate(-45deg);
  margin: 100px auto;
  animation: pulse 1s infinite;
}

.heart::before,
.heart::after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -50px;
  left: 0;
}

.heart::after {
  left: 50px;
  top: 0;
}

@keyframes pulse {
  0% { transform: rotate(-45deg) scale(1); }
  50% { transform: rotate(-45deg) scale(1.1); }
  100% { transform: rotate(-45deg) scale(1); }
}

@keyframes pulse1 {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.triangle {
  width: 0px;
	height: 0px;
  margin: 100px auto;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
  position : relative;
  animation: pulse1 1s infinite;
}

.triangle::before {
  content: "";
  display: block;
  height: 0px;
  width: 0px;
  border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #555;
  position: absolute;
  top: 15px;
  left: -25px;
}